

body{

background-image: linear-gradient(
	to right,
	rgb(186, 218, 85),
	rgb(190, 208, 133)

);
font-family: 'Courier New', Courier, monospace;
display: flex;
justify-content: center;
align-items: center;
height: 100vh
margin: 0;
}

h1{

font-size: 50px;

}

.app {
width: 56rem;
height: 32rem;

border: 2px, solid black;
background: rgba(241, 16, 136, 0.488);
border-radius: 2rem;





}